<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (Recipe recipe in ViewData["Recipes"] as List<Recipe>)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="@recipe.Image" alt="Image of @recipe.Title">
                            <div class="card-body">
                                <p class="card-text">@recipe.Title</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">@recipe.ReadyInMinutes mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>